@model FlyUpCore5.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
}

<h2>@ViewData["Title"].</h2>
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <img src="@Model.ProfileImage"
                     alt="" class="rounded img-fluid" />
            </div>
            <div class="col-md-4">
                <h3>Username: @Model.Name</h3>
                <p>
                    Email: @Model.EmailAddress
                </p>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>
