@{
    ViewData["Title"] = "https://www.flyup.uk";
}

<div class="container">
    <div class="jumbotron">
        <h1>flyup.uk</h1>
        <br/>
        <p>
            Hi, my name is Jason, welcome to my website.
        </p>
        <p>
            This site is currently used for code practice but feel free to browse.
            The content of the site is based on my hobbies including:
            Paramotoring, Paragliding, Kitesurfing, Wakeboarding and Snowboarding.
        </p>
    </div>
    <p>Web Master: Jason Grunill</p>
    <p>&copy; @DateTime.Now.Year - flyup.uk</p>
</div>
